JWT_ACCESS_PRIVATE=
JWT_ACCESS_PUBLIC=
JWT_REFRESH_SECRET=
BACKEND_URL=http://localhost:4001  # Day la duong link chay cua chinh service nay - auth provider 
DATABASE_URL=postgresql+asyncpg://lms:lms@localhost:5432/lms
