DATABASE_URL=postgresql+asyncpg://postgres.ehthdcdwhkjocizcvwjb:xxxxxxxxx@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
JWT_ACCESS_PRIVATE=
JWT_ACCESS_PUBLIC=
JWT_REFRESH_SECRET=

UPSTASH_REDIS_REST_URL=https://flexible-skylark-73700.upstash.io
UPSTASH_REDIS_REST_TOKEN=
# service url 
AUTH_PROVIDER_URL=http://localhost:4001
FE_URL=http://localhost:5173
BACKEND_URL=http://localhost:4001 # Day la duong link chay cua chinh service nay - auth provider 
BUSINESS_URL=http://localhost:4000

# SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_USE_TLS=false
SMTP_FROM=noreply@lms.local

# RabbitMQ
RABBITMQ_URL=amqp://lms:lms@localhost:5672/