# DATABASE_URL=postgresql+asyncpg://lms:lms@localhost:5432/lms
DATABASE_URL=

# service url 
AUTH_PROVIDER_URL=http://localhost:4001
JUDGE_URL=http://localhost:4002
FE_URL=http://localhost:5173
BACKEND_URL=http://localhost:4000 # Day la duong link chinh cua service nay 

#RABBITMQ
RABBITMQ_URL=amqp://lms:lms@localhost:5672/
#MINIO
MINIO_URL=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=lms
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001