# DATABASE_URL=postgresql+asyncpg://lms:lms@localhost:5432/lms
DATABASE_URL=postgresql+asyncpg://postgres.ehthdcdwhkjocizcvwjb:xxxxxxxxx@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
VERIFY_REGISTER_SECRET=
UPSTASH_REDIS_REST_URL=https://driving-koi-168970.upstash.io
UPSTASH_REDIS_REST_TOKEN=
# service url 
AUTH_PROVIDER_URL=http://localhost:4001
FE_URL=http://localhost:5173
BACKEND_URL=http://localhost:4000 # Day la duong link chinh cua service nay 