# DATABASE_URL=postgresql+asyncpg://lms:lms@localhost:5432/lms
DATABASE_URL=
VERIFY_REGISTER_SECRET=e3969808-c384-4b9e-a891-2d5b8335b790

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
# service url 
AUTH_PROVIDER_URL=http://localhost:4001
FE_URL=http://localhost:5173
BACKEND_URL=http://localhost:4000 # Day la duong link chinh cua service nay 
#RABBITMQ
RABBITMQ_URL=amqp://lms:lms@localhost:5672/